<div class="collapse navbar-collapse" id="js-navbar-collapse">
  <ul class="nav navbar-nav pull-right">
    <li><a ng-href="#/admin"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
  </ul>
</div>
<div class="jumbotron">
  <h1>Dashboard Add</h1>
</div>
<div class="col-md-4"></div>
<div class="col-md-2">
  <a ng-href="#/dashboard"><button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus
"></span> ADD</button></a>
</div>
<div class="col-md-2">
  <a ng-href="#/dashboard"><button type="button" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-remove
"></span> CANCEL</button></a>
</div>
<div class="col-md-4"></div>
