<div class="collapse navbar-collapse" id="js-navbar-collapse">
  <ul class="nav navbar-nav pull-right">
    <li><a ng-href="#/admin"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
  </ul>
</div>


<form action="" class="product-edit">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img src="https://placeholdit.imgix.net/~text?txtsize=23&txt=250%C3%97250&w=250&h=250" alt="" class="product-edit-img">
      <button class="btn btn-default">Load Image</button>
      
      <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" value=""> Men
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="" value=""> Women
        </label>
      </div>

      <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" value=""> Jackets
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="" value=""> T-Shirts
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value=""> Shirts
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="" value=""> Pants
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value=""> Accessories
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="" value=""> Packs
        </label>
      </div>

      <div class="form-group product-edit-btns">
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus
"></span> ADD</button>
        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove
"></span> CANCEL</button>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"></div>
  </div>
</form>



<!-- <div class="col-md-4"></div>
<div class="col-md-2">
  <a ng-href="#/dashboard"><button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus
"></span> ADD</button></a>
</div>
<div class="col-md-2">
  <a ng-href="#/dashboard"><button type="button" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-remove
"></span> CANCEL</button></a>
</div>
<div class="col-md-4"></div> -->
