* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none !important;
}
*:focus{
  outline: none;
}
html, body, *, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding: 0;
  background-color: #ffffff;
}
/* Layout */
.view-container{
  margin-top: 100px;
}

.view-admin{
  margin-top: 100px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
}
/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Navbar */
.header .navbar.navbar-default {
  border: none;
  background-color: #f5f5f5;
  z-index: 99999;
  -webkit-box-shadow: 0px -2px 40px 9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -2px 40px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -2px 40px 9px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  padding: 10px;
  top: 0;
  width: 100%;
  position: fixed;
}
.navbar-default .navbar-brand {
  color: #03A9F4;
}
.nav.navbar-nav li a:hover {
  background-color: transparent;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* PRODUCT */
.product-card {
  width: 300px;
  border: solid 8px #F5F5F5;
  margin-bottom: 30px;
  border-radius: 4px;
  opacity: 0.85;
}
.product-card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.025, 1.025);
  -moz-transform: scale(1.025, 1.025);
  -ms-transform: scale(1.025, 1.025);
  -o-transform: scale(1.025, 1.025);
  transform: scale(1.025, 1.025);
  -webkit-box-shadow:  0 2px 15px rgba(0,0,0,0.4);
  -moz-box-shadow:  0 2px 15px rgba(0,0,0,0.4);
  box-shadow:  0 2px 15px rgba(0,0,0,0.4);
  opacity: 1;
}
.product-card:hover .product-card-more {
  opacity: 1;
}
.product-card-img {
  width: 100%;
}
.product-card-title {
  font-size: 20px;
  border-top: solid 1px #f5f5f5;
  padding: 8px;
  margin: 0;
}
.product-card-price {
  width: 50px;
  border: solid 1px #f5f5f5;
  margin: auto;
  font-weight: 700;
  position: relative;
  top: 5px;
  background: #fff;
  z-index: 1;
}
.product-card-more {
  font-size: 35px;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(-25%, -150%);
  opacity: 0;
}
.product-detail {
  width: 90%;
  display: inline-block;
}
.product-detail-text {
  margin-top: 5%;
}
.product-detail-next-btn,
.product-detail-prev-btn {
  width: 5%;
  height: 600px;
}
.product-detail-next-btn span,
.product-detail-prev-btn span {
  top: 50%;
}
.product-detail-next-btn,
.product-detail-prev-btn,
.product-detail-back-btn {
  font-size: 35px;
  cursor: pointer;
}
.product-detail-price {
  font-size: 20px;
  font-weight: 700;
}
.product-detail-description {
  margin-right: 25%;
}
.product-detail-title,
.product-detail-price,
.product-detail-description {
  margin-bottom: 20px;
}
.product-detail-categories {
  margin-top: 40px;
}
.product-detail-categories .label {
  font-size: 16px;
  cursor: pointer;
}
.product-edit {
  padding: 0 30px;
}
.product-edit-img {
  display: block;
  width: 250px;
}
.product-edit-btns {
  margin-top: 40px;
}
.product-edit-btns button {
  display: inline-block;
  margin-top: 0;
  width: 20%;
  padding: 12px;
}
.product-edit-load-btn {
  margin: 12px 0 24px 0;
}
.product-edit-price {
  width: 40%;
}
/* Dashboard */
.dashboard-display {
  padding: 15px;
}
.dashboard-item {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  opacity: 0.85;
}
.dashboard-item:hover {
  -webkit-transform: scale(1.025, 1.025);
  -moz-transform: scale(1.025, 1.025);
  -ms-transform: scale(1.025, 1.025);
  -o-transform: scale(1.025, 1.025);
  transform: scale(1.025, 1.025);
  -webkit-box-shadow:  0 2px 15px rgba(0,0,0,0.4);
  -moz-box-shadow:  0 2px 15px rgba(0,0,0,0.4);
  box-shadow:  0 2px 15px rgba(0,0,0,0.4);
  background-color: #eaeaea;
}
.dashboard-item .buttons, .dashboard-item .description {
  margin-top: 1.25%;
}
.dashboard-item:hover {
  opacity: 1;
}
/* Status Classes*/
.added {
  background-color: #dff0d8;
}
.deleted {
  background-color: #f2dede;
}
.restored {
  background-color: #d9edf7;
}
.error {
  color: #F2485B;
}

/* Buttons */
.add-button{
  color: #dff0d8;
}
/* Filters */
.breadcrumb li{
  cursor: pointer;
}

.input-search{
  cursor: auto;
}

.input-search input{
  border-radius: 20px;
  border: 1px solid #fafafa;
  padding-left: 10px;
}

/* Admin */
.view-admin .form-control.ng-invalid {
  border: 2px solid #F44336;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

