*{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none !important;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #ffffff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Status Classes*/
.added{
  background-color: #dff0d8;
}
.deleted{
  background-color: #f2dede;
}
.restored{
  background-color: #d9edf7;
}

/* Navbar */
.header .navbar.navbar-default{
  border: none;
  background-color: #f5f5f5;
  z-index: 99999;
  -webkit-box-shadow: 0px -2px 40px 9px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -2px 40px 9px rgba(0,0,0,0.3);
  box-shadow: 0px -2px 40px 9px rgba(0,0,0,0.3);
  border-radius: 0px;
  padding: 10px;
  margin-bottom: 40px;
}

.navbar-default .navbar-brand {
  color: #03A9F4;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #0277BD;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
