<div class="view-admin">
  <div class="col-lg-5 col-md-4 col-sm-3 col-xs-2"></div>
  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-8">
    <form name="logForm" class="form-horizontal" ng-submit="formValidation(user,notValidUser)">
      <div class="form-group">
        <label class="col-md-12">Username</label>
        <div class="col-md-12">
          <input type="text" class="form-control" name="inputUser" placeholder="Username" ng-model="user.name">
          <span ng-show="enterData" class="error" >*Ingrese datos validos</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-12">Password</label>
        <div class="col-md-12">
          <input type="password" class="form-control" name="inputPassword" placeholder="Password"
                 ng-model="user.password" >
          <span ng-show="enterData"  class="error">*Ingrese datos validos</span>
        </div>

      </div>
      <!--div class="checkbox">
        <label>
          <input type="checkbox" ng-model="user.keeplog"> Remember me
        </label>
      </div-->
      <div class="form-group">
        <div class="col-md-6">

        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <input class="btn btn-primary btn-block" type="submit" value="Sign in"></input>
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-5 col-md-4 col-sm-3 col-xs-2"></div>
</div>
