<div class="collapse navbar-collapse" id="js-navbar-collapse">
  <div class="col-md-6">
  <ol class="breadcrumb pull-left">
    <li>All</li>
    <li><a>Category 1</a></li>
    <li><a>Category 2</a></li>
    <li><a>Category 3</a></li>
    <li><a>Category 4</a></li>
  </ol>
  </div>
  <div class="pull-right">
    <ul class="nav navbar-nav">
      <li>
        <a class="" href="#/"><span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span> A / Z</a>
      </li>
      <li>
        <a class="" href="#/"><span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span> Price</a>
      </li>
      <li>
        <a class="" href="#/"><span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span> Date</a>
      </li>
    </ul>
  </div>
</div>
<div class="jumbotron">
  <h1>Landing</h1>
  <li><a ng-href="#/product-detail">Detail</a></li>
</div>
